@{
    ViewData["Title"] = "Home Page";
}

<!-- Home Jumbotron
        ================================================== -->
<section class="intro">
    <div class="wrapintro">
        <h1>GET YOUR DREAM FREELANCER JOB.</h1>
        <h2 class="lead">"You can work whenever you want in world from your comfortable house."</h2>
        <a target="_blank" href="https://gum.co/affiliates-html-template" class="btn">Create your ad now</a>
    </div>
</section>
